
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}


.add-note-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: left;
}

.add-note-form label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.add-note-form input[name="titulo"],
.add-note-form input[name="detalhes"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.add-note-form input[name='Enviar'] {
    width: 70%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.add-note-form input[name='Enviar']:hover {
    background-color: #3e9742;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.note-item {
    background-color: #ffd1dc;      
    border: 1px solid #f8b7c8;        
    border-radius: 10px;              
    width: 250px;                      
    height: 250px;                     
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    word-wrap: break-word;
    overflow-y: auto;                  
    overflow-x: hidden;                
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.note-item:hover {
    transform: scale(1.05);           
}


.note-item::-webkit-scrollbar {
    width: 5px;
}

.note-item::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.action-form {
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: inline;
    box-shadow: none;
}


.delete-btn {
    background-color: #ffd3e0;
    color: #5c5c5c;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: none; /* Sem sombra no botão de apagar */
}

.delete-btn:hover {
    background-color: #ffb3c1;
}


.edit-btn {
    background-color: #ffd3e0;
    color: #5c5c5c;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: none; 
}

.edit-btn:hover {
    background-color: #ffb3c1;
}


.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;           
    padding: 30px 0;
}



.header-container p {
    font-size: 18px;
    color: #2a2828;
    text-align: center;
    margin-top: 10px;
}


